/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}

/* Garis Cabang Pohon Silsilah (Tree CSS) */
.tree-node {
    position: relative;
}

.tree-line-v {
    width: 2px;
    background-color: #475569;
    margin: 0 auto;
}

.tree-line-h {
    height: 2px;
    background-color: #475569;
}

.member-card {
    transition: all 0.2s ease-in-out;
}

.member-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5);
}
